.revfanc-dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.revfanc-dialog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.revfanc-dialog-content {
  width: fit-content;
  height: fit-content;
  position: absolute;
  transform-origin: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}

.revfanc-dialog-content--center {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.revfanc-dialog-content--bottom {
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.revfanc-dialog-content--top {
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}

.revfanc-dialog-content--right {
  margin: auto 0 auto auto;
  top: 0;
  right: 0;
  bottom: 0;
}

.revfanc-dialog-content--left {
  margin: auto auto auto 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.revfanc-fade-enter-active,
.revfanc-fade-leave-active {
  transition: all 0.3s;
}

.revfanc-fade-enter-from,
.revfanc-fade-leave-to {
  opacity: 0;
}

.revfanc-center-enter-active,
.revfanc-center-leave-active {
  transition: all 0.3s;
}

.revfanc-center-enter-from,
.revfanc-center-leave-to {
  opacity: 0.1;
  transform: scale(0.7);
}

.revfanc-bottom-enter-active,
.revfanc-bottom-leave-active {
  transition: all 0.3s;
}

.revfanc-bottom-enter-from,
.revfanc-bottom-leave-to {
  opacity: 0.1;
  transform: translateY(100%);
}

.revfanc-top-enter-active,
.revfanc-top-leave-active {
  transition: all 0.3s;
}

.revfanc-top-enter-from,
.revfanc-top-leave-to {
  opacity: 0.1;
  transform: translateY(-100%);
}

.revfanc-right-enter-active,
.revfanc-right-leave-active {
  transition: all 0.3s;
}

.revfanc-right-enter-from,
.revfanc-right-leave-to {
  opacity: 0.1;
  transform: translateX(100%);
}

.revfanc-left-enter-active,
.revfanc-left-leave-active {
  transition: all 0.3s;
}

.revfanc-left-enter-from,
.revfanc-left-leave-to {
  opacity: 0.1;
  transform: translateX(-100%);
}
